
.project

*.prefs

coherence-quartz-model/.settings/org.eclipse.wst.common.project.facet.core.xml

*.component

coherence-quartz-model/.classpath

*.jar

coherence-quartz-model/target/maven-archiver/pom.properties

coherence-quartz-web/.classpath

coherence-quartz-web/.settings/.jsdtscope

coherence-quartz-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
**/target/**/*
**/.settings/**/*